.button-icon {
   display: inline-block;
   padding: 10px;
   border: 2px solid var(--blue);
   border-radius: 4px;
   text-decoration: none;
   background-color: var(--white);
   transition: 0.2s all;
}

.button-icon img {
   vertical-align: middle;
}

.button-icon:active {
   transform: scale(0.92);
}