.button {
   color: var(--white);
   background-color: var(--blue);
   padding-inline-start: 24px;
   padding-inline-end: 24px;
   padding-block-start: 16px;
   padding-block-end: 16px;
   font: var(--button);
   text-transform: uppercase;
   border-radius: 4px;
   border: none;
   transition: 0.2s all;
   text-align: center;
   text-decoration: none;
   display: block;
   margin-block-end: 16px;
}

button:hover {
   background: var(--blue-dark);
}

button:active {
   transform: scale(0.92);
}

.button.is-secondary {
   color: var(--green);
   background: unset;
   border: 2px solid var(--green);
}

.is-secondary:hover {
   background-color: var(--green);
   color: var(--white);
}

.is-secondary:active {
   transform: scale(0.92);
}
