.footer-content {
   text-align: center;
   margin-block-end: 40px;
   margin-block-start: 40px;
}

.footer .social {
   justify-content: center;
   margin: 20px;
}

.footer .logo {
   display: none;
}

@media screen and (min-width: 768px) {
   
   .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .footer .logo {
      display: block;
   }


   .footer .social {
      margin: 0;
      order: 3;
   }

}

@media screen and (min-width: 1024px) {
   .footer-copyright {
      display: flex;
      gap: 10px;
      align-items: baseline;
   }
   
}