.hero {
   padding-block-start: 40px;
   padding-block-end: 40px;
}

.hero-image img {
   inline-size: 340px;
   block-size: auto;
   border-radius: 10px;
   object-fit: cover;
   max-inline-size: 100%;
}

.hero-image {
   text-align: center;
   margin-bottom: 15px;
}

.hero-description h1 {
   font: var(--headline4);
}

.hero-description h1 span:first-child {
   font: var(--headline5);
   display: block;
}

.hero-description {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.hero-social {
   margin-block-end: 20px;
}

@media screen and (min-width: 768px) {
   
   .hero {
      display: flex;
      align-items: center;
      gap: 32px;
   }
   .hero-description h1 {
      font: var(--headline3);
   }

   .hero-image {
      order: 1;
      flex: 1;
      text-align: end;
   }

   .hero-description {
      max-inline-size: 460px;
   }
}

@media screen and (min-width: 1024px) {
   
   .hero-image img {
      inline-size: 500px;
      block-size: 504px;
   }
}